homework/homework3/.idea/
docs/wireframes/.DS_Store
homework/homework3/.project
homework/homework3/.settings
homework/homework3/.settings/
.DS_Store
docs/.DS_Store
.vscode
.idea
.DS_Store~816992143d97b5161d14ef48bd34d7d9901aa8e8
../oose.todo
