{{#partial "content"}}
    <h1>Welcome to CourseReVU App</h1>

    {{#if username}}
        <p>You are logged in as {{ username }}. <a href="/signout">sign out</a></p>
        <p>View <a href="courses">courses</a></p>
    {{else}}
        <form action="/" method="post">
            <input type="text" placeholder="username" name="username"/>
            <button>Sign in</button>
        </form>
    {{/if}}

{{/partial}}

{{> base.hbs}}